body{
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, 
Arial, sans-serif;
}

a{
 text-decoration: none;
 color: #fff;
}
a:visited{
 text-decoration: none;
 color: #fff;
}

.project-links {
    width: 983px;
    height: 79px;
    background: #fff url(../../assets/img/cloudback.png) center center no-repeat;
    margin: 0 auto;
 }
 
 .home-header {
    width: 977px;
    height: 327px;
    background: #fff url(../../assets/img/logo2.png) center center no-repeat;
    margin: 0 auto;
 }
 
 #contact{
    margin: 0 auto; 
    width: 977px;
    height: 59px;
    background: #b7c8be url(../../assets/img/contact.png) center center no-repeat;
    display:none;

 }
 .blog-header {
    width: 977px;
    height: 239px;
    background: #fff url(../../assets/img/blogheader.png) center center no-repeat;
    margin: 0 auto;
 }
 
 .partner-header {
    width: 977px;
    height: 239px;
    background: #fff url(../../assets/img/partnerheader.png) center center no-repeat;
    margin: 0 auto;
 }
 
 .infoback {
    width: 655px;
    height: 391px;
    background: #fff url(../../assets/img/infoback.png) center center no-repeat;
    text-align: center;
    position: relative;
 } 
 
 .infoback .aboutlabel{
    position: absolute;
    top: 320px;
    left: 15px;
    text-decoration: none;
    color: #000;
    text-transform:uppercase;
    font-size: 60px;
 }
 .infoback .abouttext{
    padding: 66px 60px 0px 66px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-align: left;
    line-height: 34px;
 }
 
 .infoback .proposalstrip{
     background: url(../../assets/img/proposalstrip.png) center center no-repeat;
    width: 443px;
    height: 48px;
    text-align: center;
    position: absolute;
    top: 320px;
    left: 265px;
    font-size: 25px;
    color: #fff;
    line-height: 45px;
 }
 
 .infoback .abouttext strong{
     color: #008080;
 }
 
 .newsback {
    height: 381px;
    background: #fff url(../../assets/img/newsback.png) center center no-repeat;
    position: relative;
 }
 
 .newsback .newsarea{
    padding-top: 20px;
    padding-left: 10px;
 }
 
 .newsback .newsarea a,  .newsback .newsarea a:visited{
    color: #000;
    text-decoration: none;
 }
 
 .newsback .newslabel{
    position: absolute;
    top: 310px;
    left: 13px;
    text-decoration: none;
    color: #000;
    text-transform:uppercase;
    font-size: 60px;
 }
 
  .newsback .newstitle{
    background-image:  url(../../assets/img/minicloud.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 35px;
    width: 175px;
    padding-left: 60px;
    font-size: 18px;
    line-height: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
 }
 
  .newsback .newstitle .subtitle{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    
  }
  
  .newsback .newstext{
    font-size: 16px;
    line-height: 20px;
    padding: 0px 3px 15px 3px;
    width: 240px;
    color: #fff;
  }
  
 .partners {
    clear:both;
    height: 99px;
    background: #2ca089 url(../../assets/img/partnerbar.png) center center no-repeat;
    position: relative;
 }
 
 .partners .itaau{
    background:  url(../../assets/img/partners/itaau.png) center center no-repeat;
    height: 43px;
    width: 128px;
    position: absolute;
    top: 22px;
    left: 58px;
 }
 
 .partners .nottingham{
    background:  url(../../assets/img/partners/nottingham.png) center center no-repeat;
    height: 57px;
    width: 129px;
    position: absolute;
    top: 19px;
    left: 200px;
 }
 
 .partners .msr{
    background:  url(../../assets/img/partners/msr.png) center center no-repeat;
    height: 37px;
    width: 132px;
    position: absolute;
    top: 24px;
    left: 350px;
 }
 
 .partners .horizon{
    background:  url(../../assets/img/partners/horizon.png) center center no-repeat;
    height: 48px;
    width: 131px;
    position: absolute;
    top: 22px;
    left: 502px;
 }
 
 .partners .peverel{
    background:  url(../../assets/img/partners/peverel.png) center center no-repeat;
    height: 60px;
    width: 126px;
    position: absolute;
    top: 16px;
    left: 652px;
 }
 
 .partners .crabtree{
    background:  url(../../assets/img/partners/crabtree.png) center center no-repeat;
    height: 40px;
    width: 126px;
    position: absolute;
    top: 23px;
    left: 800px;
 }
 
 
#cloud{
position: relative;
}
#cloud .link{
    background:url(../../assets/img/cloudlink.png) center center no-repeat;
    width: 152px;
    height: 76px;
    display: block;
    text-align:center;
    line-height: 76px;
    position: absolute;
    top: 5px;
}

#cloud .linklarge{
    background:url(../../assets/img/cloudlinklarge.png) center center no-repeat;
    width: 167px;
    height: 84px;
    display: block;
    text-align:center;
    line-height: 76px;
    position: absolute;
    top: 4px;
}

#cloud .home{
    left: 32px;
}
#cloud .partners{
    left: 219px;
}
 #cloud .blog{
    left: 408px;
}

#cloud .contact{
    left: 596px;
}

 #cloud .documents{
    left: 788px;
}

#cloud a{
    text-decoration: none;
    color: #000;
    text-transform:uppercase;
    font-size: 18px;
}


#footer{

    clear:both;
    padding-top: 20px;
}

#footer ul{
    text-align: center;
}

#footer  li{
    display: inline;
    list-style-type: none;
    padding-right: 60px;
}

#footer  li a{
    text-decoration: none;
    color: #000;
    text-transform:uppercase;
    font-size: 28px;
}


/* --------------------- Blog stuff -----------------------*/

#blog .datebar{
    width: 108px;
    background:#008080;
    float: left;
    height: inherit;
    text-align: center;
    color: #fff;
    font-size: 30px;
    
}
#blog h2{
    color: #fff;
    font-size: 34px;
    font-weight: normal;
}

#blog .cloud{
    padding: 30px 0px 10px 10px;
    text-align: center;
    background:url(../../assets/img/blogcloud.png) center center no-repeat;
    width: 92px;
    height: 64px;
}

#blog .divider{
    background-image:  url(../../assets/img/blogribbon.png);
    background-repeat: no-repeat;
    background-position: left top;
    margin-left:20px;
    width: 115px;
    height: 40px;
    float: left;
}


#blog .fullcontainer{
    height: auto;
    background:#2ca089;
    float: left;
    width:977px;
}

#blog .fullcontent{
   padding: 30px;
   font-size: 14px;
   font-weight: 200;
}

#blog .blogcontainer{
    height: auto;
    background:#008080;
    display: block;
    float: left;
    width:957px;
    border-left: 20px solid #2ca089;
}

#blog .blogtext{
   border-left: 5px solid #b7c8be;
   width:810px;
   background:#2ca089;
   display: block;
   padding: 0px 12px 20px 20px;
   float: right;
}

/* ------------------------------ partner stuff ----------------------------------*/

#partner .fullcontainer{
    height: auto;
    background:#2ca089;
    float: left;
    width:977px;
}

.partner-container{
    position: relative;
    float: left;
    margin: 25px 30px 30px 30px;
}

.logo-box{
    position: absolute;
    width: 150px;
    height: 50px;
    background: #fff;
    border: 2px solid #000;
    top: 180px; 
}

.lfastner{
    background: url(../../assets/img/lfastner.png) center center no-repeat;
    position: absolute;
    width: 82px;;
    height: 86px;
    top: -25px;
    left: -25px;
}

.rfastner{
    background: url(../../assets/img/rfastner.png) center center no-repeat;
    position: absolute;
    width: 82px;;
    height: 86px;
    top: -15px;
}

#nottingham .rfastner{
    left: 450px;
} 

#nottingham .logo-box{
    height: 60px;
    top: 170px;
}

.partner-box{
    border: 2px dashed #000;
    background: #808080; 
    
}

.partner-box .lcontent p{
    line-height: 25px;
    padding: 5px 10px 0px 30px;
    font-size: 18px;
}

.partner-box .rcontent p{
    line-height: 25px;
    padding: 5px 10px 0px 10px;
    font-size: 18px;
}


#itaau .partner-box{
    height: 230px;
    width: 340px;
}

#itaau .logo-box{
    left: 190px; 
    background: #fff url(../../assets/img/partners/itaau.png) center center no-repeat;
}

#nottingham .partner-box{
    height: 230px;
    width: 500px;
    background: #fff;
}

#nottingham .logo-box{
    left: 350px; 
    background: #fff url(../../assets/img/partners/nottingham.png) center center no-repeat;
}




#crabtree .lfastner{
    top:40px;
}

#crabtree .partner-container{
    padding-top: 60px;
} 

#crabtree .logo-box{
    width: 130px;
    height: 46px;
    top:  195px;
    left: 320px; 
     background: #fff url(../../assets/img/partners/crabtree.png) center center no-repeat;
}

#crabtree .partner-box{
    height: 180px;
    width: 450px;
    background: #fff;
}




#microsoft .partner-box{
    height: 330px;
    width: 360px;
}

#microsoft .logo-box{
    top:  280px;
    left: 210px; 
    background: #fff url(../../assets/img/partners/msr.png) center center no-repeat;
}


#microsoft .rfastner{
   left: 300px;
}

#om .partner-box{
    height: 200px;
    width: 420px;
}

#om .logo-box{
    top:  140px;
    height: 60px;
    left: 270px; 
    background: #fff url(../../assets/img/partners/peverel.png) center center no-repeat;
}

#horizon .partner-box{
    height: 250px;
    width: 420px;
    background: #fff;
}
#horizon .rfastner{
   left: 370px;
    top: -20px;
}
#horizon .logo-box{
    top:  200px;
    left: 270px; 
    background: #fff url(../../assets/img/partners/horizon.png) center center no-repeat;
   
}


