.about {
	background: #eeeeee;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding-top: 15px;
	padding-bottom: 15px;
    margin: 1.25rem 0 1.1875rem;
    line-height: 2rem;
}

.padded{
	padding-top: 0.6em;
}

.fullwidth{
	width: 100%;
}

.button .active{
	background: 'red';
}