.about {
	background: #eeeeee;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding-top: 15px;
	padding-bottom: 15px;
    margin: 1.25rem 0 1.1875rem;
    line-height: 2rem;
}

.padded{
	padding-top: 0.6em;
}

.roomcastsplash{
	background: url(../assets/img/splash.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.fullwidth{
	width: 100%;
}