<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/cv.css" />
    <script src="{{site.baseurl}}/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
  	<div class="contain-to-grid sticky">
  		<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  			<section class="top-bar-section">
  			<ul class="right">
				<li class="name">
				  <a href="{{site.baseurl}}/assets/cv/tom_lodge_cv.pdf" class="button">Download my cv</a>
				</li>
			</ul>
			<ul class="left">
				<li><a href="#skills">Key skills</a></li>
				<li class="divider"></li>
				<li><a href="#work">Recent work</a></li>
				<li class="divider"></li>
				<li><a href="#employment">Employment</a></li>
				<li class="divider"></li>
				<li><a href="#education">Education</a></li>
				<li class="divider"></li>
				<li><a href="#">Showcase</a></li>
			</ul>
			</section>
		</nav>
	</div>
  
    <div class="row">
      <div class="large-12 columns">
        <h1>Tom Lodge <small> Research Fellow, Full-stack developer</small></h1>
      </div>
    </div>
    {{content}}
    <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{site.baseurl}}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.baseurl}}/js/app.js"></script>
  </body>
</html>
