<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css" />
    <script src="{{site.baseurl}}/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Tom Lodge</h1>
        <h4 class="subheader">Research Fellow, Developer</h4>
      </div>
    </div>
    {{content}}
    <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{site.baseurl}}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.baseurl}}/js/app.js"></script>
  </body>
</html>
