<!doctype html>
<html lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Residential Viz</title>
  		<link href="/assets/css/foundation.min.css" rel="stylesheet"/>
  	</head>
  	<style>
  		.disclaimer{
			font-size: 1.2em;
			font-weight: 300;
			color: #000;
  		}
  	</style>
  	<body>
		<div id="navigation">
			<nav class="top-bar" data-topbar> 
				<ul class="title-area"> 
					<li class="name"> <h1><a href="#">Barbican</a></h1> </li> 
				</ul> 
			
				<section class="top-bar-section"> 
					<!-- Right Nav Section -->
					<ul class="right" data-bind="foreach:menuitems"> 
						<li data-bind="css:{active:$parent.amactive(section)}"><a data-bind="text:name, click:function(){$parent.section(section)}"></a></li> 
					</ul> 
				</section> 
			</nav>
  		</div>  
  		<div class="row">
  			<div class="small-12 columns">
  				<hr>
				<p class="disclaimer">
					<strong>Please note:</strong> all the data used for building this site was taken from the publicly visible pages at www.barbicantalk.com.  We have <strong> no access to email addresses, contact details or any other data not shown on the public site.</strong> If you have any concerns about content on this site, please email <strong>communityclouds@gmail.com</strong>. Further information on this project can be found <a href="/">here</a>
				</p>
				<hr>
  			<div>
  		</div>		
		{{ content }}
  	</body>
</html>